---

---

body
  font-family: 'Source Code Pro', courier
  letter-spacing: -1px

main
  width: 100%
  max-width: 960px
  margin: auto
  text-align: left

a
  color: #000

@import "front"
@import "typehead"
@import "syntax-highlighter"
