body.front
  main
    margin-top: -2em

  input[type="search"]
    width: 100%
    padding-bottom: .2em
    border: 0
    font-family: "Source Code Pro"
    font-size: 3em
    -webkit-appearance: none
    -moz-appearance: none
    &:focus
      outline: 0
